.square {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-square {
  background-color: #eeeed2;
}
.dark-square{
  background-color: #769656;
  color: white
}
.piece{
  background-repeat: no-repeat;
  background-size:90% 90%;
  background-position: center;
  width: 100px;
  height: 100px;
}
.piece:hover {
  cursor: grab;
}